/* Imports */
/* Base */
/* Reset */
/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
/* Font family */
/* Font width title */
/* Font width paragraph */
/* Colores */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto Mono", monospace;
  font: 200;
  font-size: 1.1em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.1em;
}

/* Publicidad hosting */
.disclaimer {
  display: none;
}

/* Import font */
/* Font family */
/* Font width title */
/* Font width paragraph */
/* Colores */
/* laptop large or big screens*/
.animate__animated.animate__bounceInDown {
  --animate-duration: 4s;
  --animate-delay: 0.1s;
}

.rotate-scale-down {
  -webkit-animation: rotate-scale-down 0.65s linear 2s both;
  animation: rotate-scale-down 0.65s linear 2s both;
}

/* Sections*/
/* Tienda CSS  */
/* Tienda conteiner */
.tienda__conteiner {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: rgb(40, 40, 40);
  justify-content: space-around;
  overflow-y: scroll;
  max-height: 100vh;
}
.tienda__conteiner .product__card:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgb(214, 28, 78);
  box-shadow: 5px 5px 15px 5px rgb(214, 28, 78);
}
.tienda__conteiner .product__card .button__item {
  cursor: pointer;
  background-color: rgb(214, 28, 78);
  border-radius: 14%;
  padding: 3%;
}
.tienda__conteiner .product__card .button__item:hover {
  background-color: rgb(80, 78, 78);
  color: white;
  transform: scale(1.1);
}

.filtros__conteiner {
  -webkit-border-radius: 15px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(80, 78, 78);
}
.filtros__conteiner li {
  margin: 10px;
}
.filtros__conteiner li a {
  color: rgb(80, 78, 78);
}
.filtros__conteiner li .button__filter {
  color: rgb(214, 28, 78);
  width: 80%;
  font-size: 13px;
  line-height: 15px;
  padding: 16px;
  border-radius: 10px;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-color: rgb(80, 78, 78);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(214, 28, 78);
  display: inline-block;
}
.filtros__conteiner li .button__filter:hover {
  background: rgb(214, 28, 78);
  color: black;
}

.header {
  height: 60px;
  font-size: 20px;
}
.header ul li {
  text-align: center;
}
.header a {
  color: white;
}
.header a.active__menu {
  background-color: rgb(254, 219, 57);
  color: black;
}
.header a .carro__compra {
  width: 40px;
  height: 40px;
}
.header .logo {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 0px) {
  .header .logo {
    width: 30px;
    height: 30px;
  }
}

.nav_site {
  background-color: rgb(40, 40, 40) !important;
}

.main {
  padding: 10px 0px 0px 0px;
  margin-bottom: 10px;
  min-height: 100vh;
}
@media screen and (max-width: 0px) {
  .main {
    padding: 0;
  }
}

.footer {
  margin-top: auto;
  text-align: center;
  background-color: rgb(80, 78, 78);
  align-items: center;
  justify-content: space-between;
}
.footer a, .footer h4 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}
.footer li {
  text-align: center;
}
.footer div.copyright {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(254, 219, 57);
  text-align: center;
}
.footer .logo {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 992px) {
  .footer .logo {
    width: 30px;
    height: 30px;
  }
}

.cart__conteiner {
  border: 1px solid #a4431c;
}

/* Componentes */
/* Carousel  */
.mainCarousel {
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
