.footer{
    margin-top: auto;
    text-align: center;
    .logo {
        width: 100px;
        height: 100px;
        @include breakpoint (lg) {
            width: 30px;
            height: 30px;
        }
    }
}