.header {
    height: 60px;
    font-size: 20px;

    ul li{
        text-align: center;
    
    }

    a {
        color: white;

        &.active__menu {
            background-color: $color-third;
            color: black;
        }

        .carro__compra {
            width: 40px;
            height: 40px;
        }
    }

    .logo {
        width: 50px;
        height: 50px;

        @include breakpoint (xs) {
            width: 30px;
            height: 30px;
        }
    }
}

.nav_site {
    background-color: $color-main !important;
}