/* Tienda CSS  */

/* Tienda conteiner */

.tienda__conteiner {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: $color-second;
    width: 65%;

    .product__card {
        &:hover {
            -webkit-box-shadow: 5px 5px 15px 5px $color-shadow;
            box-shadow: 5px 5px 15px 5px $color-shadow;
        }

        .button__buy{
            cursor: pointer;
        }
    }
}



.filtros__conteiner {
    -webkit-border-radius: 15px;
    padding: 10px;
    width: 25%;
    border-radius: 15px;
    background-color: $color-main;
    margin-right: 5px;

    li {
        margin: 10px;

        a {
            color: $color-second;
        }

        .button__filter {
            color: $color-shadow;
            width: 80%;
            font-size: 13px;
            line-height: 15px;
            padding: 16px;
            border-radius: 10px;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            background-color: $color-second;
            box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
            border: 2px solid $color-shadow;
            display: inline-block;

            &:hover {
                background: $color-shadow;
                color: black;
                
            }

        }
    }
}