/* Tienda CSS  */

/* Tienda conteiner */

.tienda__conteiner {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: $color-main;
    justify-content: space-around;
    overflow-y: scroll;
    max-height: 100vh;
    .product__card {
        &:hover {
            -webkit-box-shadow: 5px 5px 15px 5px $color-shadow;
            box-shadow: 5px 5px 15px 5px $color-shadow;
        }

        .button__item {
            cursor: pointer;
            background-color: $color-shadow;
            border-radius: 14%;
            padding: 3%;

            &:hover {
                background-color: $color-second;
                color: white;
                transform: scale(1.1);
            }
        }
    }
}



.filtros__conteiner {
    -webkit-border-radius: 15px;
    padding: 10px;
    border-radius: 15px;
    background-color: $color-second;

    li {
        margin: 10px;

        a {
            color: $color-second;
        }

        .button__filter {
            color: $color-shadow;
            width: 80%;
            font-size: 13px;
            line-height: 15px;
            padding: 16px;
            border-radius: 10px;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;
            background-color: $color-second;
            box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
            border: 2px solid $color-shadow;
            display: inline-block;

            &:hover {
                background: $color-shadow;
                color: black;

            }

        }
    }
}