/* Tienda CSS  */

/* Tienda conteiner */

.tienda__conteiner {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: $color-second;

    .product__card {
        &:hover {
            -webkit-box-shadow: 5px 5px 15px 5px $color-shadow;
            box-shadow: 5px 5px 15px 5px $color-shadow;
        }
    }
}

.filtros__conteiner {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: $color-main;
    margin-right: 5px;

}