/* Reset */
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: $font-main;
    font: 200;
    font-size: 1.1em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.1em;
}


/* Publicidad hosting */
.disclaimer {
    display: none;
}