$bg-color-general: black;

/* Import font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&display=swap');


/* Font family */
$font-main: 'Roboto Mono', monospace;
$font-subt: 'Roboto Mono', monospace;
$font-text: 'Roboto Mono', monospace;
/* Font width title */
$font-title-w: 200;
/* Font width paragraph */
$font-p-w: 200;

/* Colores */
$color-main: rgb(40,40,40);
$color-second: rgb(80, 78, 78);
$color-third: rgb(254, 219, 57);
$color-shadow: rgb(214, 28, 78);